<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Funder</title>

  <!-- LINKING CSS -->
  <link href="/css/reset.css" type="text/css" rel="stylesheet" />

  <link href="/css/style.css" type="text/css" rel="stylesheet" />

  <!-- LINKING BOOTSTRAP CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

</head>

<body id="page2">
  <!-- NAVBAR / MAIN HEADER -->

  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand" href="index.html"><img class="logo" width="250" src="/images/funder_logo.png" alt="logo"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home</a>
        </li>


        <li class="nav-item active">
          <a class="nav-link" href="signin.html">Sign In</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="signup.html">Start a Funder</a>
        </li>
      </ul>
    </div>

  </nav>


  <!-- CARD FUNDRAISERS -->
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img-top" width="180" src="https://d2g8igdw686xgo.cloudfront.net/35097014_1543967709955216_r.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color: white;">Jason Saenz Recovery Fund</h5>
            <p class="card-text">This past weekend our friend and fellow comic, Jason Saenz had a major accident in which his spine was badly injured
            after falling through a skylight on the roof of an apartment building. He's currently paralyzed from the waist down and
            will be facing a very long road to recovery. Right now he's in the ICU at Cedars-Sinai and will be entering a
            rehabilitation center as soon as possible to improve his path to healing.</p>

            <a href="#" class="btn btn-blue">Donate</a>

          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img-top" width="180" src="https://d2g8igdw686xgo.cloudfront.net/35160968_1544463792717979_r.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color: white;">Steven Wilson Memorial Education Fund</h5>
            <p class="card-text">Steven Wilson passed away December 5, 2018. Steve leaves behind a loving wife and two small children. The education of
            his daughters was very important to Steve. This campaign was established by Theresa Sampson, Steve’s sister, and Leland
            Sampson, Steve’s brother in law. We started this fundraiser to honor Steve’s memory by raising funds to ensure his
            daughters never have to worry about school tuition or education expenses.</p>
            <a href="#" class="btn btn-blue">Donate</a>

          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img-top" width="180" src="https://d2g8igdw686xgo.cloudfront.net/35045466_1543817549536733_r.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color: white;">In The Loving Memory of Gracie King</h5>
            <p class="card-text">On Saturday, December 1st, the Kings experienced the unexpected loss of their beautiful daughter Gracie. At this time,
            the family needs the support of their community at large for medical bills, funeral services, and other relevant
            expenses. All money raised here will go directly to the King family.</p>
            <a href="#" class="btn btn-blue">Donate</a>

          </div>
        </div>
      </div>

    </div> <!-- END ROW -->
  </div> <!-- END CONTAINER FLUID -->

  <!-- FOOTER -->
  <footer>
    <p>&#169; Funder</p>
  </footer>

  <!-- LINKING BOOTSTRAP JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>